.header-menu {
    &__item {
        font-weight: 400;
        line-height: 27 / 20 * 100%;
        letter-spacing: 0.065em;
        color: $second-text-color;
        text-transform: uppercase;
        transition: color 0.3s ease 0s;
        &:hover {
            color: $hover-color;
        }
        &:not(:last-child) {
            margin-right: 45px;
            &::after {
                content: "";
                width: 30px;
                height: 1px;
                display: inline-block;
                background-color: $second-text-color;
                margin: 0 0 6.5px 45px;
            }
        }
    }
}

@media screen and (max-width: $bp-2) {
    .header-menu {
        &__item {
            font-size: 0.9rem;
            &:not(:last-child)::after {
                width: 28px;
            }
        }
    }
}

@media screen and (max-width: $bp-3) {
    .header-menu {
        &__item {
            font-size: 0.85rem;
            &:not(:last-child) {
                margin-right: 35px;
                &::after {
                    margin-left: 35px;
                }
            }
        }
    }
}

@media screen and (max-width: $bp-3) {
    .header-menu {
        &__item {
            &:not(:last-child) {
                margin-right: 15px;
                &::after {
                    width: 15px;
                    margin-left: 15px;
                }
            }
        }
    }
}