@mixin image($mw) {
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-width: $mw;
}

@mixin icon-process($url) {
    content: "";
    background-image: $url;
    background-color: #fff;
    width: 100px;
    height: 100px;
    position: absolute;
    left: 0;
    top: 0;
}