.our-studio {
    padding: 340px 0 339px 0;
    color: $second-text-color;
    &__content {}
    &__title {
        font-weight: 700;
        font-size: 3.6rem;
        line-height: 98 / 72 * 100%;
        letter-spacing: 0.02em;
        margin-bottom: 50px;
    }
    &__text {
        font-weight: 400;
        font-size: 1.1rem;
        line-height: 33 / 22 * 100%;
        letter-spacing: 0.02em;
        margin-bottom: 50px;
    }
    &__button {
        &::after {
            content: "";
            background-image: url(../icons/order.svg);
            width: 57px;
            height: 22px;
            display: block;
            margin: 279px auto 0;
        }
    }
}

@media screen and (max-width: $bp-2) {
    .our-studio {
        padding: 256px 0 333px 0;
        &__title {
            font-size: 3.4rem;
            margin-bottom: 45px;
        }
        &__text {
            font-size: 1rem;
            margin-bottom: 70px;
        }
        &__button {
            &::after {
                margin-top: 273px;
            }
        }
    }
}

@media screen and (max-width: $bp-3) {
    .our-studio {
        padding: 90px 0 136px 0;
        &__title {
            margin-bottom: 22px;
        }
        &__text {
            margin: 0 auto 84px auto;
            max-width: 643px;
        }
        &__button {
            &::after {
                margin-top: 76px;
            }
        }
    }
}

@media screen and (max-width: 660px) {
    .our-studio {
        &__title {
            font-size: 2.8rem;
        }
    }
}