.service {
    max-width: 335px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &__icon {
        width: 100px;
        height: 100px;
        margin: 0 auto 40px;
        &--apartments {
            background-image: url(../icons/services/apartments.svg);
        }
        &--houses {
            background-image: url(../icons/services/houses.svg);
        }
        &--control {
            background-image: url(../icons/services/control.svg);
        }
    }
    &__title {
        font-weight: 700;
        font-size: 0.9rem;
        line-height: 25 / 18 * 100%;
        color: #474747;
        margin-bottom: 30px;
    }
    &__text {
        font-weight: 400;
        font-size: 0.7rem;
        line-height: 19 / 14 * 100%;
        flex: 1 1 auto;
    }
}

@media screen and (max-width: 1200px) {
    .service {
        max-width: 255px;
        &>*:not(:last-child) {
            margin-bottom: 30px;
        }
        &__title {
            font-size: 0.8rem;
        }
        &__text {
            font-size: 0.6rem;
        }
    }
}

@media screen and (max-width: 955px) {
    .service {
        max-width: 100%;
        &:not(:last-child) {
            margin-bottom: 50px;
        }
        &>*:not(:last-child) {
            margin-bottom: 25px;
        }
    }
}