.tariff {
    background-color: $bg-color;
    padding: $section-padding;
    &__content {}
    &__title {
        margin-bottom: 30px;
    }
    &__text {
        margin-bottom: 40px;
    }
    &__items {}
}

@media screen and (max-width: $bp-2) {
    .tariff {
        padding: $section-padding-2;
        &__title {
            margin-bottom: 40px;
        }
        &__text {
            margin-bottom: 60px;
        }
    }
}

@media screen and (max-width: 963px) {
    .tariff {
        &__text {
            margin: 0 auto 60px;
            max-width: 594px;
        }
    }
}

@media screen and (max-width: $bp-3) {
    .tariff {
        padding: $section-padding-3;
        &__title {
            margin-bottom: 35px;
        }
        &__text {
            margin: 0 auto 55px;
            max-width: 594px;
        }
    }
}